
<head></head>
<body>
<h1>Вход</h1>

<%= form_with model: @client, url:authorization_path, method: :get do |form| %>
  <div>
    <%= form.label :Почта %><br>
    <%= form.text_field :mail %>
  </div>

  <div>
    <%= form.label :password_digest %><br>
    <%= form.text_field :password_digest %>
  </div>

  <div>
    <%= form.submit value="Вход"%>
  </div>
<% end %>

<%= link_to "Регистрация", registration_path%>
</body>

