

<%= form_with model: @client, url:datapush_client_index_path,  method: :get do |form| %>
  <div>
    <%= form.label value="Логин" %><br>
    <%= form.text_field :login %>
  </div>

  <div>
    <%= form.label  value="Пароль"%><br>
    <%= form.text_field :password_digest %>
  </div>

  <div>
    <%= form.label value="Почта" %><br>
    <%= form.text_field :mail %>
  </div>

  <div>
    <%= form.label value="Имя" %><br>
    <%= form.text_field :nickname %>
  </div>

  <div>
    <%= form.submit value="Зарегистрироваться"%>
  </div>
<% end %>

<%= @test%>