<div class="client_logo_create">
Создание клиента
</div>

<div class="saved_client">
<%= form_with model: @client, url: clients_path, method: :post do |form| %>
  <div class="mb-3 clients_css_class">
    <%= form.label :Имя, 'Имя', :class => 'form-label'%><br>
    <%= form.text_field  :name, :value => params[:name], :class => 'form-control' %>
  </div>

  <div class="mb-3 clients_css_class">
    <%= form.label  :Номер, 'Номер', :class => 'form-label' %><br>
    <%= form.phone_field  :phone, :value => params[:phone], :class => 'form-control' %>
  </div>

    <div class="mb-3 clients_css_class">
    <%= form.label  :Почта, 'Почта', :class => 'form-label' %><br>
    <%= form.email_field  :email, :value => params[:email], :class => 'form-control' %>
  </div>


  <div class="mb-3 clients_css_class">
    <%= form.submit value="Сохранить"%>
  </div>
<% end %>
</div>
